.databaseRemove{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border:2px solid grey;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5rem;
    margin: 1rem;
}



.databaseRemove>button{
    background: rgba(248, 137, 124, 0.832);
    margin-top: 5rem;
    border: none;
    font-weight: bolder;
    font-size: medium;
    color: white;
    padding: 0.5rem;
    width:10rem;
    border-radius: 8px;
}

.databaseRemove>button:hover{
    cursor: pointer;
}



.checkGroup{
   border: 1px solid grey;
   border-radius: 5px;
   padding:0.3rem ;
   margin-top: 5px;
 }
 .checkGroup>input{
     margin-left: 1rem;
     background:rgba(0, 0, 0, 0.5);
 }
 .checkGroup>label{
     margin-left: 0.5rem;
     
 }

 @media (max-width:950px){
  

    .databaseRemove{
        
        font-size: medium;
        padding: 0.5rem;
        margin: 2rem;
    }
   
    .checkGroup>input{
        margin-left: 3rem;
       
    }
    .checkGroup>label{
        margin-left: 0.1rem;
        
    }
 }


 @media (max-width:790px){

    .databaseRemove{
       width: 20rem;
        font-size: medium;
    }

    .checkGroup {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 2rem;
    }



    .checkGroup>label {
        margin-left: 0; /* Label'ları sola hizala */
    }

}
 


 
@media (max-width:560px){
    .databaseRemove{
        width: 15rem;
        margin-left:4rem;

       
    }

    .input-container {
        flex-direction: column; /* İçeriği sütun olarak düzenle */
        align-items: center; /* Dikeyde ortala */
      }

      .form-check {
        margin-bottom: rem; /* İçerikler arasına boşluk bırak */
      }
    
 }
