.databaseAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border:2px solid grey;
    border-radius: 8px;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    margin: 2rem;
}



.databaseAdd>button{
    background: rgba(245, 196, 112, 0.832);
    margin-top: 5rem;
    border: none;
    font-weight: bolder;
    font-size: medium;
    color: white;
    padding: 0.5rem;
    width:10rem;
    border-radius: 8px;
}

.databaseAdd>button:hover{
    cursor: pointer;
}

.inputFile{
    background:rgba(84, 79, 79, 0.5);
    border: 2px solid grey;
    border-radius: 5px;
    padding:0.5rem ;
    margin-top: 1rem;
    color:white
}


.checkGroup{
   border: 1px solid grey;
   border-radius: 5px;
   padding:0.3rem ;
 }
 .checkGroup>input{
     margin-left: 1rem;
     background:rgba(0, 0, 0, 0.5);
 }
 .checkGroup>label{
     margin-left: 0.5rem;
     
 }

 @media (max-width:900px){

    .databaseAdd{
        font-size: smaller;
        padding: 0.5rem;
        margin: 2rem;
    }


 }



 @media (max-width:790px){
    .databaseAdd{
        font-size: medium;
        margin-left: 0;
    }

    .databaseAdd>button{
        font-weight: bold;
        font-size: medium;
      
     
       
    }
    .inputFile{
        padding:0.1rem ;
        margin-top: 1rem;

    }

    .checkGroup>label {
        margin-left: 0; /* Label'ları sola hizala */
    }

}
 


 
@media (max-width:560px){
    .databaseAdd{
        margin-left: 4rem;
        width: 15rem;
       
    }

    .inputFile{
        width: 12rem;

    }
    
 }