.cntner{
    border:2px solid grey;
    border-radius: 8px;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1.5rem;

}

@media (max-width: 790px){
    .cntner{
      font-size: small;
      width:90%;
       
    }

    .table {
      width: 70%;
      overflow-x: auto;
      display: block;
    }
  
}

@media (max-width: 735px){
    .cntner{
        font-size:  xx-small;;
        margin-right: 0.3rem;
    }

    
}

@media (max-width: 605px) {
    .cntner{
        font-size: xx-small;
     width: 65%;
      height: auto; 
    float: left; 
   padding: 4rem;
    

    }
    .table {
      width: 100%;
      overflow-x: auto;
      display: block;
    }
  
  
  
  
    .table td {
      text-align: left;
    }
  
    .table td:before {
      content: attr(data-label);
      font-weight: bold;
      float: left;
      text-transform: uppercase;
    }
  
    .table td:last-child:before {
      content: none;
    }
  }

  @media (max-width: 520px) {
    .cntner{
        font-size:xx-small;
        margin-left: 3rem;
       
    }
  }
  
  