
img{
    width: 2.5rem;
    margin-right: 5px;
}

.navbar-text{
    margin-left: 1 rem;
}
.username{
    color: white;
    font-size: small;
}

.exitIcon{
    color:white;
    font-size: small;
    
    
}

.exitIcon>span{
    padding: 0.5rem;
}

.navbar-brand{
  display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   height: 1.7rem;
   padding: 0.5rem;
  
}

@media (max-width:518px){
   
    .exitIcon{
      margin-top: 0.5rem;
        
    } 

    .navbar-text{
        margin-top: 0.5rem;
    }

}