.sideNav{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    color:white;
    border: 2px solid rgba(0, 0, 0, 0.074);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 2px;
    overflow-y: auto; 
    max-height: 100vh;
   
}

.link{
    text-decoration: none;
    color: white;
}

.sideNav__logo{
    width: 5rem;
    margin:1.5rem;

}

.sideNav__buttons{
   display: flex;
   flex-direction: column;
    
    
}

.sideNav__button{
    display: flex;
    flex-direction: row;
    margin:0.3rem ;
    padding: 0.2rem;
    align-items: center;
    background: 0;
    color: white;
    border: 0;
    border-radius: 1rem;
    width: 100%;
}

.sideNav__button :hover{
    cursor: pointer;
    background: rgba(249, 247, 247, 0.996);
    color: black;
    border-radius: 0.5rem;
}
.sideNav__button__text{
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.10rem;
}

@media (max-width: 790px) {
    .sideNav{
        position:fixed;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        color:white;
        border: 2px solid rgba(0, 0, 0, 0.074);
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 5px
    }

    .sideNav__logo{
        width: 4rem;
        margin:0.5rem;

    }
    .sideNav__buttons{
        flex-direction: column;
        align-self: start;
   
        
     }
    .sideNav__button{
        display: flex;
        flex-direction: row;
        margin:0.3rem ;
        padding: 0.3rem;
        align-items: start;
        background: 0;
        color: white;
        border: 0;
        border-radius: 1rem;
        
    }

  
    .sideNav__button__text {
        display:flex;
        margin-left: 2px;
        font-size: 0.5rem;
       
    }

   

  }

  @media (max-width: 560px){

    .sideNav__button__text {
        display:none
       
    }
    .sideNav__logo{
        width: 2rem;
        margin:0.3rem;

    }
    
  }